*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ul1{
    font-family: "Sora", sans-serif;
    font-size: 12px;
    font-weight: 400;
    gap: 50px;
}

.nav_1{
    color: #1F2938;
}

.header{
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #F5F1E8;
    display: flex;
    justify-content: left;
    align-items: center;
}

.img_1{
    width: 3.5%;
}

.div_1{
    height: 100vh;
}

